*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
# Built application files
*.apk
*.aab
*.ap_
*.aapt
*.app
*.iab
*.jar
!gradle/wrapper/gradle-wrapper.jar
gradle-user-home/
# Signing files
keystore.properties
*.keystore
*.jks
profile-out/
